.titlu_produs{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.descriere_produs {
    color:white;
    font-family:'Courier New', Courier, monospace
}
.titlu_tricou{
    font-family: 'Courier New', Courier, monospace;
    color:black
}
.descriere_tricou{
    color:black;
    font-family: 'Courier New', Courier, monospace;
}

.link_produse{
    text-decoration: none;
    color:white
}

