.footer_ecommerce {
    height:20vh;
    width:100vw;
background-color: black
}
.footer_ecommerce a{
    color: aqua;
    font-size:20px;
    text-decoration: none;
    margin: 10px

}

.footer_ecommerce

.footer_title{
    color: aqua;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}