.navbar_ecommerce {
    height:10vh;
    width: 100vw;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.navbar_ecommerce a{
    color: aqua;
    font-size:25px;
    text-decoration: none;
    margin: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.nav_title{
    color:aqua;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}